@use "../../../../mixins.scss";

.Chart {
  min-height: 500px;
  @include mixins.md {
    min-height: 350px;
    max-height: 350px;
  }
  @include mixins.xxl {
    min-height: 400px;
  }
}

.Widget {
  @apply col-span-7;
  @include mixins.xxl {
    @apply col-span-9;
  }
}

.Bars {
  max-height: 600px;
  @include mixins.xl {
    max-height: 350px;
  }
  @include mixins.xxl {
    max-height: 400px;
  }
}

.lines {
  max-height: 600px;
  @include mixins.xl {
    max-height: 350px;
  }
  @include mixins.xxl {
    max-height: 400px;
  }
}
